WIFIAUDIT_DB_USER=wifiaudit
WIFIAUDIT_DB_PASSWORD=change-this-db-password
WIFIAUDIT_DB_NAME=wifiaudit
WIFIAUDIT_SECRET_KEY=replace-with-openssl-rand-hex-32
WIFIAUDIT_ARTIFACTS_PATH=./.wifiaudit-artifacts
